# Laravel általános
/vendor/
node_modules/
.env
.env.backup
.env.production

# Laravel cachek, logok, buildek
.phpunit.result.cache
.phpunit.cache
.phpactor.json
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/logs/*
/storage/framework/*

# IDE / editor fájlok
/.idea/
/.vscode/
/.zed/
/.fleet/
/.nova/

# Homestead / Vagrant
Homestead.yaml
Homestead.json
/.vagrant/

# Auth
auth.json

# NPM / Yarn hibák
npm-debug.log
yarn-error.log
